/* #region Background color */
.ms-bg-darkblue{
    background-color: #2C3E50;
}
.ms-bg-lightgreen{
    background-color: #1abc9c;
}
.ms-bg-lightblue{
    background-color: #3a546d;
}
/* #endregion Background color */

/* #region Typography style */
header .ms-h2{
    margin: 0;
}
.star{
    font-size: 20px;
}
/* #endregion Typography style */

/* #region General style */
.ms-container{
    max-width: 960px;
}
img{
    max-width: 100%;
}
.hero img{
    max-height: 255px;
}
.ms-nav-link{
    color: white;
}
.ms-nav-link:hover{
    color: #1abc9c;
}
p a{
    text-decoration: none;
    color: #1abc9c;
}
ul a i{
    color: white;
    border: 1px solid white;
    border-radius: 50%;
    padding: 10px;
    height: 55px;
    width: 55px;
    font-size: 15px;
}
ul{
    list-style: none;
    padding-left: 0;
    gap: 10px;
}
.ms-bg-lightgreen .star{
    color: white
}
.star{
    position: relative;
    color: #2c3e50;
}
.star-left::before{
    content: '';
    border-bottom: 2px solid #2c3e50;
    position: absolute;
    right: 40px;
    top: 50%;
    width: 8vw;
}
.star-left-white::before{
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    right: 40px;
    top: 50%;
    width: 8vw;
}
.star-right::after{
    content: '';
    border-top: 2px solid #2c3e50;
    position: absolute;
    left: 40px;
    top: 50%;
    width: 8vw;
}
.star-right-white::after{
    content: '';
    border-bottom: 2px solid white;
    position: absolute;
    left: 40px;
    top: 50%;
    width: 8vw;
}
.ms-input input{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid grey;
}
.ms-input input:focus,
.ms-input textarea:focus{
    border: 2px solid #1abc9c;
    box-shadow: none;
}
.ms-input textarea{
    resize: none;
}
/* #endregion General style */

